In [182]:
## This code shows an overview of the movie ratings of each genre and each decade
imdb_top_movies["decade"] = (imdb_top_movies["year"]//10)*10

## using pd.explode to  create a new row for each genre
imdb_temp = imdb_top_movies[["genres", "decade", "rating"]].assign( genres = imdb_top_movies["genres"].str.split(", ")).explode("genres")

## cleaning up the genres coloumn
imdb_temp["genres"] = imdb_temp["genres"].str.replace("[", "").str.replace("'","").str.replace("]", "")

## grouping first by genre and then by decade. Using unstack to create a matrix to better read the results
result = round(imdb_temp.groupby(["genres", "decade"])["rating"].mean(),2).unstack("decade")
result.fillna("-")

decade     1920 1930  1940  1950  1960  1970  1980  1990  2000  2010 2020
genres
Action     8.15    -     -   8.6   8.4   8.6   8.3  8.36  8.52  8.29    -
Adventure  8.15    -   8.2  8.24  8.27   8.3   8.3  8.32  8.39  8.31  8.1
Animation     -    -     -     -     -     -  8.27  8.32  8.24  8.25  8.1
Biography   8.1    -     -     -   8.2     -   8.2   8.5  8.19   8.2  8.5
Comedy      8.2  8.3   8.3  8.25  8.35   8.2   8.3  8.26  8.21  8.23  8.1
Crime         -  8.3   8.3   8.3  8.27  8.62  8.35  8.36  8.35  8.21    -
Drama      8.18  8.3  8.34  8.27  8.23  8.36  8.25   8.4  8.31  8.25  8.4
Family      8.3  8.5   8.6     -     -     -  8.15  8.37  8.25  8.23  8.1
Fantasy       -    -   8.6   8.2     -   8.4  8.28  8.35   8.5  8.22  8.1
Film-Noir     -    -   8.2   8.4     -     -     -     -     -     -    -
History     8.1  8.1     -  8.13   8.2   8.1   8.3   8.6  8.15   8.1  8.5
Horror        -    -     -     -   8.5   8.4  8.25     -     -     -    -
Music         -    -     -   8.2     -   8.2   8.3     -   8.5  8.32  8.1
Musical       -    -     -   8.3     -   8.3     -   8.5     -     -  8.5
Mystery       -  8.3   8.2  8.34   8.5   8.3   8.1  8.35  8.37   8.2    -
Romance    8.15  8.3  8.27  8.25   8.3     -   8.3  8.38  8.23  8.23    -
Sci-Fi      8.3    -     -     -   8.3  8.35   8.3  8.35  8.32   8.4    -
Sport         -    -     -     -     -   8.1   8.2   8.2   8.1  8.18    -
Thriller      -  8.3  8.17  8.24  8.28   8.2  8.24  8.31  8.32  8.26    -
War         8.1  8.1  8.37  8.25   8.2   8.2  8.28   8.5  8.26  8.23    -
Western     8.2    -   8.2     -   8.4     -     -   8.2     -   8.4    -

In [175]:
## Importing all the necessary libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import urllib3
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [185]:
## reread dataset it if necessary
#imdb_top_movies = pd.read_csv("imdb_top_movies.csv")

In [177]:
## using the pd.explode to create a new row for each actor but with values in all other rows remaining constant
imdb_temp = imdb_top_movies[["starring", "movie_name"]].assign( starring = imdb_top_movies["starring"].str.split(", ")).explode("starring")

## cleaning up the actor column from all unnecessary 
imdb_temp["starring"] = imdb_temp["starring"].str.replace("[", "").str.replace("'","").str.replace("]", "").str.replace('"', "")

## have a look at the data
print(imdb_temp)

             starring                movie_name
0         Tim Robbins  The Shawshank Redemption
0      Morgan Freeman  The Shawshank Redemption
0          Bob Gunton  The Shawshank Redemption
1       Marlon Brando             The Godfather
1           Al Pacino             The Godfather
..                ...                       ...
248  Nastassja Kinski              Paris, Texas
248    Dean Stockwell              Paris, Texas
249    Toshirô Mifune           Throne of Blood
249     Minoru Chiaki           Throne of Blood
249      Isuzu Yamada           Throne of Blood

[750 rows x 2 columns]

In [178]:
## grouping by starring and counting the movies they appeared 
result = pd.DataFrame(imdb_temp.groupby(["starring"])["movie_name"].count())
result = result.rename(columns = {"movie_name": "count"})

## create a while function that will ask how many artists with the most movie starring should be displayed
numbersEntered = []  # List that stores all entered numbers
numberList = []  # List when several numbers are entered at once

while len(numbersEntered) <= 0:

    # Input, programme description
    numberInput = str(input('Please enter how many top actors (measured in #of movies you would liek todisplay):'))

    # Find all positive and negative float or int numbers in the input
    numberList = re.findall(r'[-]?\d*\.\d+|[-]?\d+', numberInput)

    # Add the numbers entered now to the list of all entered numbers
    for i in range(len(numberList)):
        numbersEntered.append(float(numberList[i]))
        i += 1
       
        
# Using nlargerst function to show the top 10 actors. Please keep in mind, that there are more actors who also had 4 apprences in the movies
result.nlargest(int(numbersEntered[0]), "count")

Please enter how many top actors (measured in #of movies you would liek todisplay):10

                   count
starring
Robert De Niro         9
Harrison Ford          6
Leonardo DiCaprio      6
Tom Hanks              6
Charles Chaplin        5
Christian Bale         5
Clint Eastwood         5
James Stewart          5
Toshirô Mifune         5
Al Pacino              4

In [179]:
# ask for the idol as string input
idol = input("What is your favorite movie star? please write it in the following format: first name last name (e.g. Brad Pitt): ")

if (sum(imdb_temp.starring == idol)>0):
    print("Your idol, ", idol, " has appeared", sum(imdb_temp.starring == idol), "times in the top 250 movies")
else: print("Sorry, you have either misspelled the name or,", idol, " did not act in any of the top 250 movies")

What is your favorite movie star? please write it in the following format: first name last name (e.g. Brad Pitt): Brad Pitt
Your idol,  Brad Pitt  has appeared 4 times in the top 250 movies

In [180]:
## cleaning the revenue data by removing Dollar signs, commas and droping rows with NaN values. Also transforing the values into floats
imdb_top_movies["box_office_revenue"]=imdb_top_movies["box_office_revenue"].str.replace(',', '')
imdb_top_movies["box_office_revenue"]=imdb_top_movies["box_office_revenue"].str.replace('$', '')
imdb_top_movies["box_office_revenue"]=imdb_top_movies["box_office_revenue"].dropna()
imdb_top_movies["box_office_revenue"]=imdb_top_movies["box_office_revenue"].astype(float) #redefine as float numbers
imdb_top_movies["box_office_revenue"]=(imdb_top_movies["box_office_revenue"]/1000000).round(0) ## divide by 1'000'000 to get numbers in millions
imdb_temp = imdb_top_movies[["director", "box_office_revenue"]]

In [181]:
## ask for the input
director_count = input("how many of the top directors by revenue would you like to display? ")

## make a function to return the box office of number of directors and return error message if no integer was entered
## divide by 1'000'000 to get numbers in millions
try:
    top_x_directors = imdb_temp.groupby(["director"]).sum().nlargest(int(director_count),"box_office_revenue")
    print(top_x_directors)
except ValueError:
    print("sorry you have to enter an integer number")
    
print("note that all values are in USD million")

how many of the top directors by revenue would you like to display? 10
                   box_office_revenue
director
Anthony Russo                  4846.0
Christopher Nolan              4150.0
Steven Spielberg               3054.0
Peter Jackson                  2991.0
Pete Docter                    2291.0
Lee Unkrich                    1875.0
Andrew Stanton                 1461.0
David Yates                    1342.0
Martin Scorsese                1192.0
Quentin Tarantino              1145.0